<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amanthakur.fittocracy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MediaPlayer" />
        <activity android:name=".Strength" />
        <activity android:name=".Cardio" />
        <activity android:name=".Yoga" />
        <activity android:name=".Stretching" />
        <activity android:name=".BootCampInspired" />
        <activity android:name=".FullIntensityCardio" />
        <activity android:name=".LightWarmUpCardio" />
        <activity android:name=".PlyometricsJumpCardio" />
        <activity android:name=".CoreStrength" />
        <activity android:name=".FullBodyStrength" />
        <activity android:name=".LowerBodyStrength" />
        <activity android:name=".UpperBodyStrength" />
        <activity android:name=".EverydayFeelGoodYoga" />
        <activity android:name=".Pilates" />
        <activity android:name=".YogaForRunners" />
        <activity android:name=".YogaForSalutation" />
        <activity android:name=".BackStrengthening" />
        <activity android:name=".FullBodyStretch" />
        <activity android:name=".HeadToToeWarmupStretch" />
        <activity android:name=".StandingOnlyStretch" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Register" />
        <activity android:name=".Login"></activity>
    </application>

</manifest>